<div class="container-fluid">
	<div class="row footer">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<a href="#"><img src="images/alarm.png" alt="alarm" width="30" height="30" /></a>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<a href="#"><img src="images/bluelightfilter.png" alt="alarm" width="30" height="30" /></a>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<a href="#"><img src="images/bed.png" alt="alarm" width="30" height="30" /></a>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<a href="#"><img src="images/reward.png" alt="alarm" width="30" height="30" /></a>
		</div>
	</div>
</div>