<div style="margin-top:30px;"></div>
<div class="rewardpoints">
	<p>
		Points Earned: <i> 8 / 10 </i>
	<br/>
		Hours slept: <i>6 / 10</i> <br/>
		Not waking up: <i>9 / 10</i> <br/>
		Not snoring: <i>9 / 10</i> <br/>
	</p>
</div>

