<div style="margin-top:30px;"></div>


<div class="panel-group">
  <div class="panel panel-default rewardpoints">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1"> Points earned tonight: 31 / 35 </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item rpoints"><span class="glyphicon glyphicon-ok"></span>&nbsp;Sleep quality (8 /10)</li>
        <li class="list-group-item rpoints"><span class="glyphicon glyphicon-ok"></span>&nbsp;9 Hours slept (8 / 10)</li>
        <li class="list-group-item rpoints"><span class="glyphicon glyphicon-ok"></span>&nbsp;BLuelight (5 / 5)</li>
         <li class="list-group-item rpoints"><span class="glyphicon glyphicon-ok"></span>&nbsp;Inactive device (5 / 5)</li>
         <li class="list-group-item rpoints"><span class="glyphicon glyphicon-remove"></span>&nbsp;No snooze (5 / 5)</li>
      </ul>
      <div class="panel-footer">&nbsp;</div>
    </div>
  </div>
</div>

