<div class="container-fluid">
	{{main-page}}
</div>

<div class="row">
		<img src="images/12.jpg" alt="" width="430" height="300" />
</div>
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
	{{#link-to 'mainpage3'}}	&nbsp;&nbsp;<button class="btn btn-primary" style="margin:5px;">Previous log view</button>{{/link-to}}
	</div>
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
			
		</div>
	<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
		{{#link-to 'mainpage'}}	&nbsp;&nbsp;<button class="btn btn-primary" style="margin:5px;">Next log view</button>{{/link-to}}
	</div>
	
</div>